*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #FAFAFA;
    font-family: 'Ibarra Real Nova', serif;
  font-family: 'Public Sans', sans-serif;
  }

.containers{
    width: 1110px;
    margin:0 auto;
}

header{
    margin-top: 64px;
    margin-bottom: 94px;
}

.nav{

}

.nav-item{
    position: relative;    
}

.nav-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.dm{
    /* padding: 9px 0; */
}

.dm:hover+.dropdawn__manu,
.dropdawn__manu:hover,.dropdawn__manu__list:hover{
display: block;
}

.dropdawn__manu{
  position: absolute;
  left: -30px;
  top: 10px;
  width: 150px;
  display: none;
  padding-top: 3px;
}

.dropdawn__menu__list{
  background:black;
list-style-type: none;
display:block;
  font-size:11px;
  font-weight: 700;
}

.dropdawn__menu__list li{
  padding:10px;
  margin: 0;
}

.dropdawn-link{
  text-decoration: none;
  color: white;
}

.row{
    padding: 48px 0;
}

.touch__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    opacity: 0.8;
}

.link{
    color: #33323D;
    font-size: 24px;
}

.form-label{
    color: #33323D;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    opacity: 0.8;
}

.form-control{
    background-color:#eaeaeb;
    border: none;
    height: 48px;
    opacity: 0.4;
}

.textarea{
    height: 96px;
}

.contact-btn{
    width: 200px;
    height: 48px;
    border: none;
    background-color:#203A4C;
    margin-bottom: 89px;
}

.footer{
    height: 80px;
}

.footer__link{
    color: white;
    font-size: 24px;
}
.color#cr{
    color: #5FB4A2;
}
